{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
<h1>Liste des membres</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.name }}</td>
                <td>
                    <a class="btn btn-outline-dark mt-auto" href="{{ path('app_member_show', {'id': member.id}) }}">Détails sur ce membre</a></div>
                 </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun membre</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_member_new') }}" class = "btn btn-success" role="button">Nouveau membre</a>
    {%endif%}

{% endblock %} {# main #}


