{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
<h1>Liste des membres</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Membre</th>
            <th> &nbsp;</th>
        </tr>
    </thead>
    <tbody>

         {% for member in members %}

            <tr>
                <td>{{member.id}}</td>
                <td>{{member.name}}</td> 
                <td><a href="{{ path('member_show', {'id': member.id}) }}">show</a></td>

            </tr>  
         {% endfor %} {# members #}
    </tbody>
</table>
{% endblock %} {# main #}