{% extends 'base.html.twig' %}

{% block title %}New Member{% endblock %}

{% block main %}
    <h1>Créer un nouveau membre</h1>

    <table class="table">

    {{ include('member/_form.html.twig') }}
    &nbsp
    <a href="{{ path('app_member_index') }}" class = "btn btn-dark btn-sm" role="button">Retour à la liste</a>

    </table>
    
{% endblock %}
