{% extends 'base.html.twig' %}

{% block title %}Members{% endblock %}

  {% block main %}
      <h1>Bienvenue chez : {{ member.name }} </h1>

         {% dump member %}

      <table class="table table-light">
      <thead>
        <tr>
            <th>Albums</th>
            <th> &nbsp;</th>

        </tr>
    </thead>
    <tbody>    
                   
         {% for alb in member.album %}
         <tr>
                <td>{{ alb }} <a class="btn btn-outline-dark btn-sm " href="{{ path('album_show', {'id': alb.id}) }}">Voir cet album</a></td>
         </tr>
         {% endfor %} {# albums #}

          </tbody>
      </table>


      <a href="{{ path('members_list') }}">back to list</a>

  {% endblock %} {# main #}