{% extends 'base.html.twig' %}

{% block title %}Members{% endblock %}

  {% block main %}
      <h1>Membre</h1>

         {% dump member %}

      <table class="table table-dark">
          <tbody>
              <tr>
                  <th>Id</th>
                  <td>{{ member.id }}</td>
              </tr>
              <tr>
                  <th>Membre</th>
                  <td>{{ member.name }}</td>
              </tr>
              <tr>
                   <th>Albums</th>
                    {% for alb in member.album %}
                        <td>{{ alb }}</td>
                    {% endfor %} {# albums #}
              </tr>             

          </tbody>
      </table>

      <a href="{{ path('members_list') }}">back to list</a>

  {% endblock %} {# main #}