{% extends 'base.html.twig' %}

{% block title %}Members{% endblock %}

  {% block body %}
      <h1>Membre</h1>

         {% dump member %}

      <table class="table">
          <tbody>
              <tr>
                  <th>Id</th>
                  <td>{{ member.id }}</td>
              </tr>
              <tr>
                  <th>Membre</th>
                  <td>{{ member.name }}</td>
              </tr>           


          </tbody>
      </table>

      <a href="{{ path('members_list') }}">back to list</a>

  {% endblock %} 