<form method="post" action="{{ path('app_souvenir_delete', {'id': souvenir.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ souvenir.id) }}">
    <button class="btn btn-danger btn-sm">{{ button_label|default('Supprimer') }}</button>
</form>
