{% extends 'base.html.twig' %}

{% block title %}Edit Souvenir{% endblock %}

{% block main %}

    <h1>Editer le souvenir</h1>

    <table class="table">

        {{ include('souvenir/_form.html.twig', {'button_label': 'Sauvegarder le changement'}) }}
        &nbsp
        {{ include('souvenir/_delete_form.html.twig') }}
        &nbsp
        <a href="{{ path('app_souvenir_index') }}" class = "btn btn-dark btn-sm" role="button">Retour à la liste</a>
    
        </table>

{% endblock %}
