{% extends 'base.html.twig' %}

{% block title %}New Souvenir{% endblock %}

{% block main %}
    <h1>Create new Souvenir</h1>

    <table class="table">

        {{ include('souvenir/_form.html.twig') }}
        &nbsp
        <a href="{{ path('app_souvenir_index') }}" class = "btn btn-dark btn-sm" role="button">Retour à la liste</a>
    
        </table>
        
{% endblock %}
