{% extends 'base.html.twig' %}

{% block title %}New Souvenir{% endblock %}

{% block main %}
    <h1>Create new Souvenir</h1>

    {{ include('souvenir/_form.html.twig') }}

    <a href="{{ path('app_souvenir_index') }}">Retour à la liste</a>
{% endblock %}
