{% extends 'base.html.twig' %}

{% block title %}Edit Tableau{% endblock %}

{% block main %}
    <h1>Editer le tableau</h1>

    {{ include('tableau/_form.html.twig', {'button_label': 'Sauvegarder le changement'}) }}

    <a href="{{ path('app_tableau_index') }}" class = "btn btn-secondary btn-sm" role="button">Retour à la liste</a>

    {{ include('tableau/_delete_form.html.twig') }}
{% endblock %}
