{{ form_start(form) }}
    {{ form_widget(form) }}
    {# On choisit un style vert pour le bouton #}
    <button class="btn btn-success btn-sm">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
