{% extends 'base.html.twig' %}
{% block title %}Welcome!{% endblock %}
{% block main %}
<h1>Liste des albums</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Album</th>
            <th>Member</th>
            <th> &nbsp;</th>
        </tr>
    </thead>
    <tbody>
         {% for album in albums %}
            <tr>
                <td>{{album.id}}</td>
                <td>{{album.name}}</td> 
                <td>{{album.member}}</td>  
                <td><a href="{{ path('album_show', {'id': album.id}) }}">show</a></td>

            </tr>  
         {% endfor %} {# albums #}
    </tbody>
</table>
{% endblock %} {# main #} 