{% extends 'base.html.twig' %}

{% block title %}New Album{% endblock %}

{% block main %}
    <h1>Créer un nouvel album</h1>

    {{ include('album/_form.html.twig') }}

    <a href="{{ path('app_album_index') }}">Retour à la liste</a>
{% endblock %}
