{% extends 'base.html.twig' %}

{% block title %}New Album{% endblock %}

{% block main %}
    <h1>Créer un nouvel album</h1>

    <table class="table">

        {{ include('album/_form.html.twig') }}
        &nbsp
        <a href="{{ path('app_album_index') }}" class = "btn btn-dark btn-sm" role="button">Retour à la liste</a>
    
        </table>
        
{% endblock %}
