{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}

  {% block main %}
      <h1>Bienvenue dans : {{ album.name }} </h1> 

         {% dump album %}


      <table class="table table-light">
      <thead>
        <tr>
            <th>Souvenirs</th>
            <th> &nbsp;</th>

        </tr>
    </thead>
    <tbody>    
                   
         {% for souv in album.souvenir %}
         <tr>
                <td>{{ souv }} <a class="btn btn-outline-dark btn-sm " href="{{ path('souvenir_show', {'id': souv.id}) }}">Voir ce souvenir</a></td>
         </tr>
         {% endfor %} {# souvenirs #}

          </tbody>
      </table>

      <a href="{{ path('albums_list') }}">back to list</a>

  {% endblock %} {# main #}
