{% extends 'base.html.twig' %}

{#Page d'information sur le concept du site #}

{% block main %}
<h1>A propos du site</h1>

    <p>J'ai choisi de collectionner des souvenirs pour cette initialisation à la création d'un site web.</p>
    <p>La raison ? Principalement l'opportunité de le réutiliser pour le montrer à mes parents avec des souvenirs réels ! </p>
    <p>Bon parcours du site !</p>

{% endblock %} {# main #} 