{% extends 'base.html.twig' %}

{% block main %}
<h1>A propos du site</h1>

    <p>Vous voulez plus d'informations ? Et bah non, c'est short les deadlines faut pas exagérer quand même, doucement.</p>

{% endblock %} {# main #} 