{% extends 'base.html.twig' %}

{#Page d'accueil #}
{# Rem : On place la route dans le TableauController (pas important) pour pouvoir y accéder non authentifié #}

{% block main %}
<h1>Page d'accueil</h1>

    <p>Bonjour, bienvenue sur mon site web, venez découvrir des tas de souvenirs !</p>
    <p>Explorez le menu déroulant pour découvrir notre contenu !</p>

{% endblock %} {# main #} 