{% extends 'base.html.twig' %}

{% block main %}
<h1>Page d'accueil</h1>

    <p>Bonjour, bienvenue sur mon site web, venez découvrir des tas de souvenirs !</p>
    <p>Explorez le menu déroulant pour découvrir notre contenu !</p>

{% endblock %} {# main #} 